/* mobile device */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    .navbar {
        flex-direction: column;
    }
    .logo h1 {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .banner-content {
        width: 95%;
    }
    .banner-content h1 {
        font-size: 30px;
        margin: 44px 0 23px 0;
        line-height: 2.5rem;
    }
    /* team about section */
    .team-about-wrap{
        flex-direction: column;
    }
    .team-about-collage {
        width: 100%;
        margin-right: 0;
    }
    .team-about-content {
        width: 100%;
    }
    .team-about-content h1 {
        font-size: 39px;
        margin-right: 0;
        margin-top: 30px;
    }
    /* feature section */
    .feature-wrap {
        flex-direction: column;
    }
    .feature-content-left {
        width: 100%;
    }
    .feature-image-right {
        width: 100%;
    }
    .feature-content-left h1 {
        font-size: 34px;
        line-height: 3rem;
    }
    .feature-content-left h1::before {
        height: 82px;
    }
    .image-lebel {
        left: -11px;
    }
    .image-lebel h1 {
        font-size: 40px;
    }
    .image-lebel h2 {
        font-size: 20px;
    }
    /* fact section */
    .fact-box-wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 6%;
    }
    .fact-box-title {
        width: 100%;
    }
    .fact-box h1 {
        font-size: 35px;
    }
    .fact-box h4 {
        font-size: 12px;
    }
    /* Sponsor section */
    .sponsor-title {
        width: 100%;
    }
    .sponsor-title h1 {
        font-size: 30px;
    }
    .sponsor-box-wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }
    /* Footer */
    .footer-section {
        padding: 30px 0;
        font-size: 14px;
        line-height: 24px;
    }
}

/* tablet and medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .container {
        width: 85%;
    }
    .logo h1 {
        font-size: 35px;
    }
    .banner-content {
        width: 90%;
    }
    /* team about section */
    .team-about-content {
        width: 47%;
    }
    .team-about-content h1 {
        font-size: 37px;
        margin-right: 0;
    }
    .team-about-content p {
        color: var(--gray);
        margin: 8px 0 17px 0;
        text-align: justify;
        font-size: 17px;
    }
    /* Features section */
    .feature-content-left {
        width: 100%;
    }
    .feature-image-right{
        width: 100%;
    }
    .feature-wrap {
        flex-direction: column;
    }
    .feature-box-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 20px;
    }
    /* fact section */
    .fact-box-title {
        width: 65%;
    }
    .fact-box-wrap {
        grid-template-columns: repeat(3, 1fr);
    }
    .fact-box h1 {
        font-size: 40px;
    }
    .fact-box h4 {
        font-size: 18px;
    }
    /* Sponsor section */
    .sponsor-title {
        width: 80%;
    }
    .sponsor-box-wrap img {
        width: 100px;
    }
    /* footer */
    .footer-section {
        padding: 30px 0;
        font-size: 16px;
        line-height: 26px;
    }
}

