*{
   padding: 0; 
   margin: 0; 
}
img{
    max-width: 100%;
}
/* variabel */
:root{
    --dark: #131313;
    --primary: #fff4e7;
    --btn-color: #FF900E;
    --gray: #727272;

}
.btn-primary {
	padding: 17px 30px;
	font-size: 19px;
	background: var(--btn-color);
	border-radius: 8px;
	border: none;
	color: #fff;
    cursor: pointer;
}
.container{
    width: 75%;
    margin: auto;
}
body{
   font-family: "Work Sans", sans-serif;
}
/* Header Section */
/* Navbar section */
.header-section {
	background: var(--primary);
	padding: 30px 0 50px 0;
}
.logo h1 {
	font-size: 45px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: var(--dark);
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 2.5rem;
}
.menu ul li a{
    color: #424242;
}
/* banner section */
.banner-content {
	width: 70%;
	margin: auto;
	text-align: center;
}
.banner-content h1 {
	font-size: 64px;
	margin: 90px 0 40px 0;
}
.banner-content p{
    color: var(--gray);
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}
.banner-section img{
    margin-top: 35px;
}
/* team about section */
.team-section{
    padding: 50px 0;
}
.team-about-wrap{
    display: flex;
    align-items: center;
}
.team-about-collage {
	width: 50%;
	margin-right: 3%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}
.team-about-content {
	width: 45%;
}
.team-about-content h1 {
	font-size: 45px;
	color: var(--dark);
	font-weight: 700;
	line-height: 3.8rem;
	margin-right: 80px;
}
.team-about-content h1 .gray-first {
	color: var(--gray);
	font-weight: 400;
}
.team-about-content h1 .last-word{
    color: var(--btn-color);
}
.team-about-content p {
	font-size: 18px;
	color: var(--gray);
	margin: 24px 0 30px 0;
	line-height: 31px;
}
